p, h1, h2, h3, h4, h5, h6{
    margin-top: unset;
    padding-top: unset;
}

.container {
    display: flex;
    text-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.license{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid gray;
    width: 300px;
    border-radius: 5px;
}

.license aside .headshot{
    border-radius: 5px;
    background-color: lightgray;
    width: 85px;
    min-height: 100px;
}

.license article h3{
    margin-top: unset;
    padding-top: unset;
    border-right: 5px solid blue;
    border-bottom: 1px solid black;
}

.license article h5{

}

.license article p{

}