h1, h2, h3, h4, h5, h6{
    margin-top: unset;
    padding-top: unset;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.license{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid gray;
    width: 300px;
    border-radius: 5px;
}

.license aside .headshot{
    border-radius: 5px;
    background-color: lightgray;
    width: 85px;
    min-height: 100px;
}

.license aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.license article h3{
    border-right: 5px solid blue;
    border-bottom: 1px solid black;
}

.license article h5{

}

.license article aside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.eye-color-name{
    background-color: lightgray;
    padding-bottom: 0;
}

.eye-color-box{
    height: 30px;
    width: 30px;
}
.eye-color-box.DarkBrown{
    background-color: #50280a;
}
.eye-color-box.Brown{
    background-color: saddlebrown;
}
.eye-color-box.Red{
    background-color: darkred;
}

.license article p{
    word-break: break-word;
}

